# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
.venv/
.env

ben_playground/.env-cmdrc

background/.env

backend/.serverless/
backend/.requirements.zip
backend/foursides-poc.zip
backend/serverless-poc.yml
.next/

# IDEs
.vscode/
.idea/
